.header {
    margin: 20px 0;
    h2 {
        text-align: center;
        color: var(--clr-grey);
        padding: 10px;
        font-size: 1.25em;
    }
    form {
        background-color: var(--clr-dark-grey);
        display: flex;
        gap: 10px;
        padding: 15px;

        input {
            font-family: inherit;
            font-size: 1.5em;
            flex: 10;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0 15px;
            font-weight: bold;
            color: var(--clr-almost-white);
        }
        button {
            flex: 1;
            padding: 3px;
            border: none;
            outline: none;
            background-color: transparent;
            img {
                width: 15px;
            }
        }
    }
}

.container {
    padding: 15px;
    font-weight: bold;
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        background-color: var(--clr-dark-grey);
    }

    p {
        color: var(--clr-almost-white);
        font-style: bold;
    }

    div {
        padding: 5px;
    }

    .slider {
        &__top {
            justify-content: space-between;
            margin-bottom: 5px;
        }

        .slid-bar {
            margin-bottom: -20px;
            input {
                width: 100%;
            }
        }
    }
    .checkboxes {
        padding: 0px !important;
        p {
            font-size: 1em;
        }
        .check-box-container {
            label {
                border: 2px solid white;
                padding: 0.1px 8px;
            }
        }
    }

    .strength {
        padding: 5px 10px;
        background-color: var(--clr-very-dark-grey);
        justify-content: space-between;

        p {
            color: var(--clr-grey);
        }
    }

    button {
        padding: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        font-weight: bolder;
        font-family: inherit;
        font-size: 1em;
        border: none;
        outline: none;
        background-color: var(--clr-neon-green);

        img {
            width: 10px;
        }
    }
}

// Minimal styles

.flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.bars {
    gap: 5px;
    .bar {
        border: 2px solid white;
        height: 20px;
        width: 5px;
        padding: 2px;
    }
}

button {
    cursor: pointer;
}

.checkboxes .check input[type="checkbox"] {
    // visibility: none;
    // display: none;

    label {
        border: 2px solid var(--clr-neon-green) !important;
    }

    /* &:checked + label {
        background-color: var(--clr-neon-green) !important;
    } */
}
